version: '3.8'

services:
  larry-app:
    build: .
    container_name: larry_web
    restart: always
    volumes:
      # Persistent Data Volume
      - larry_data:/data
      # Mount the application source code so in-container git pulls are persistent
      - ./:/app
    environment:
      - DATA_VOLUME=/data
      - USER_DB_FILE=/data/users.csv
      - COMPANIES_FILE=/data/companies.csv
      - MASTER_INVENTORY_FILE=/data/master_inventory.csv
      - RECALL_LOG_FILE=/data/recall_requests_log.csv
      - AUDIT_LOG_FILE=/data/audit_requests_log.csv
      - SETTINGS_FILE=/data/settings.json
      - LOGO_FILE=/data/logo.jpg
      # Add your SendGrid keys here or use a .env file
      - SENDGRID_API_KEY=${SENDGRID_API_KEY}
      - SENDGRID_FROM_EMAIL=${SENDGRID_FROM_EMAIL}
      - GIT_UPDATE=true

    networks:
      - proxy-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ww_portal.rule=Host(`portal.westworldtelecom.com`)"
      - "traefik.http.routers.ww_portal.entrypoints=websecure"
      - "traefik.http.routers.ww_portal.tls=true"
      - "traefik.http.routers.ww_portal.tls.certresolver=letsencrypt"
      - "traefik.http.services.ww_portal.loadbalancer.server.port=8501"
      - "traefik.docker.network=proxy-net"
    restart: unless-stopped

networks:
  proxy-net:
    external: true


volumes:
  larry_data: